Django
djangorestframework
django-cors-headers
django-environ
psycopg2-binary
redis
celery
django-celery-beat
django-celery-results
django-allauth
djangosaml2
python3-saml
mozilla-django-oidc
django-otp
twilio
django-guardian
django-ratelimit
qrcode
Pillow
pyotp
gunicorn
whitenoise
python-decouple
requests
python-dateutil
pytz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
msal
zoomus
tenacity